[submodule "protocol"]
	path = protocol
	url = ../spice-protocol.git
[submodule "libs/recorder"]
	path = libs/recorder
	url = ../recorder.git
[submodule "libs/common"]
	path = libs/common
	url = ../spice-common.git
[submodule "clients/gtk"]
	path = clients/gtk
	url = ../spice-gtk.git
[submodule "server"]
	path = server
	url = ../spice-server.git
[submodule "streaming-agent"]
	path = streaming-agent
	url = ../spice-streaming-agent.git
[submodule "make-it-quick"]
	path = make-it-quick
	url = ../make-it-quick.git
